<table class="table table-hover">
<tr *ngFor="let item of service.lista">
    <!-- <td>{{item.EMPCode}}]-{{item.nome}}</td>     -->
    <td (click)="popForm(item)">{{item.nome}}</td>
    <td (click)="popForm(item)">{{item.dataNascimento}}</td>
    <td (click)="popForm(item)">{{item.sexo}}</td>
    <td (click)="popForm(item)">{{item.cep}}</td>
    <!-- <td (click)="popForm(item)">{{item.endereco}}</td> 
    <td (click)="popForm(item)">{{item.numero}}</td> 
    <td (click)="popForm(item)">{{item.complemento}}</td>
    <td (click)="popForm(item)">{{item.bairro}}</td> -->
    <td (click)="popForm(item)">{{item.cidade}}</td>
    <td (click)="popForm(item)">{{item.estado}}</td>
    <td><button (click)="onDelete(item.id)" class="btn btn-sm btn-outline-danger">X</button></td>
</tr>
</table>