<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">    
    <!-- <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="service.formData.ID"> -->
    <div class="form-group">
        <label>Nome</label>
        <input name="Nome" #Nome="ngModel" [(ngModel)]="service.formData.Nome" class="form-control" required>
        <div class="validation-error" *ngIf="Nome.invalid && Nome.touched">Este campo é obrigatório!</div>
    </div>
    <div class="form-group">
        <label>Data de Nascimento</label>
        <input name="DataNascimento" #DataNascimento="ngModel" [(ngModel)]="service.formData.DataNascimento" class="form-control" type="date" required>
        <div class="validation-error" *ngIf="DataNascimento.invalid && DataNascimento.touched">Este campo é obrigatório!</div>
    </div>
    <div class="form-group">
        <label>Sexo</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Sexo" #Sexo="ngModel" [(ngModel)]="service.formData.Sexo" value="Masculino" for="Sexo">
            <label>
                Masculino
            </label>
    </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Sexo" #Sexo="ngModel" [(ngModel)]="service.formData.Sexo" value="Feminino" for="Sexo">
                <label>
                    Feminino
                </label>
        </div>
            </div>   
    <div class="form-group">
        <label>Cep</label>
        <input name="Cep" #Cep="ngModel" [(ngModel)]="service.formData.Cep" (blur)="consultaCep($event.target.value, form)" class="form-control">
        <!-- <div class="validation-error" *ngIf="Cep.invalid && Cep.touched">Este campo é obrigatório!</div> -->
    </div>
    <div class="form-group">
        <label>Endereço</label>
        <input name="Endereco" #Endereco="ngModel" [(ngModel)]="service.formData.Endereco" class="form-control">
        <!-- <div class="validation-error" *ngIf="Endereco.invalid && Endereco.touched">Este campo é obrigatório!</div> -->
    </div>
    <div class="form-group">
        <label>Número</label>
        <input name="Numero" #Numero="ngModel" [(ngModel)]="service.formData.Numero" class="form-control">
        <!-- <div class="validation-error" *ngIf="Endereco.invalid && Endereco.touched">Este campo é obrigatório!</div> -->
    </div>
    <div class="form-group">
        <label>Complemento</label>
        <input name="Complemento" #Complemento="ngModel" [(ngModel)]="service.formData.Complemento" class="form-control">
        <!-- <div class="validation-error" *ngIf="Complemento.invalid && Complemento.touched">Este campo é obrigatório!</div> -->
    </div>
    <div class="form-group">
        <label>Bairro</label>
        <input name="Bairro" #Bairro="ngModel" [(ngModel)]="service.formData.Bairro" class="form-control">
        <!-- <div class="validation-error" *ngIf="Bairro.invalid && Bairro.touched">Este campo é obrigatório!</div> -->
    </div>
    <div class="form-group">
        <label>Estado</label>
        <input name="Estado" #Estado="ngModel" [(ngModel)]="service.formData.Estado" class="form-control">
        <!-- <div class="validation-error" *ngIf="Estado.invalid && Estado.touched">Este campo é obrigatório!</div> -->
    </div>
    <div class="form-group">
        <label>Cidade</label>
        <input name="Cidade" #Cidade="ngModel" [(ngModel)]="service.formData.Cidade" class="form-control">
        <!-- <div class="validation-error" *ngIf="Cidade.invalid && Cidade.touched">Este campo é obrigatório!</div> -->
    </div>
    <div>
        <button type="submit" [disabled]="form.invalid" class ="btn btn-lg btn-block">Salvar</button>
    </div>
</form>
